body {
font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 40px;
}

h1 {
color: #0072ce;
}

h1 {
text-align: center;
border-bottom: 3px solid #0072ce; padding-bottom: 10px;
}

h2 {
color: #ce00bd;
}
